<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/header.ejs %>
</head>

<body>

    <% include ../../partials/nav.ejs %>
    <% include ../../partials/breadcrumbs.ejs %>
    <% include ../../partials/alerts.ejs %>
    <div class="container top-padding bottom-padding">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title mb-4">
                            <div class="d-flex justify-content-start">
                                <div class="image-container">
                                    <img src="/user.png" id="imgProfile" style="width: 150px; height: 150px"
                                        class="img-thumbnail" />
                                </div>
                                <div class="userData ml-3">
                                    <h2 class="d-block" style="font-size: 1.5rem; font-weight: bold">Προφίλ</h2>
                                </div>
                            </div>
                            <a class="btn btn-outline-primary" href="/account/edit">Επεξεργασία <i
                                    class="fas fa-user-edit"></i></a>
                            <a class="btn btn-outline-primary" href="/account/edit/pwd">Αλλαγή
                                Κωδικού <i class="fas fa-key"></i></a>
                            <!-- <button type="button" class="btn btn-outline-danger" href="#">Διαγραφή Λογαριασμού<i
                                    class="fas fa-trash-alt"></i>
                            </button> -->
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <ul class="nav nav-tabs mb-4" id="myTab" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="basicInfo-tab" data-toggle="tab" role="tab"
                                            aria-controls="basicInfo" aria-selected="true">Βασικές Πληροφορίες</a>
                                    </li>
                                </ul>
                                <div class="tab-content ml-1" id="myTabContent">
                                    <div class="tab-pane fade show active" id="basicInfo" role="tabpanel"
                                        aria-labelledby="basicInfo-tab">
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Όνομα</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= user.firstName %>
                                            </div>
                                        </div>
                                        <hr />

                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Επίθετο</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= user.lastName %>
                                            </div>
                                        </div>
                                        <hr />


                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Τηλέφωνο</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= user.telephone %>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Α.Φ.Μ.</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= user.afm %>
                                            </div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-3 col-md-2 col-5">
                                                <label style="font-weight:bold;">Email</label>
                                            </div>
                                            <div class="col-md-8 col-6">
                                                <%= user.email %>
                                            </div>
                                        </div>
                                        <hr />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <% include ../../partials/footer.ejs %>


</body>

</html>